.big-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 32px;
    width: 60%;
    height: 50%;
  }
  .big-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .big-card h2 {
    color: #2d2d2d;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .big-card h1 {
    color: #2d2d2d;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  
  .big-card p {
    color: #4f4f4f;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 24px;
  }
  
